# Pool practice properties. File extension should be renamed to '.properties'
DRIVER1_DATABASE1_INIT_CONNS=
DRIVER1_DATABASE1_INCR_CONNS=
DRIVER1_DATABASE1_MAX_CONNS=

DRIVER2_DATABASE2_INIT_CONNS=
DRIVER2_DATABASE2_INCR_CONNS=
DRIVER2_DATABASE2_MAX_CONNS=