# Database connection details example. File extension should be renamed to '.properties'
DRIVER1_DATABASE1_DBHOST=
DRIVER1_DATABASE1_PORT=
DRIVER1_DATABASE1_DBNAME=
DRIVER1_DATABASE1_USER=
DRIVER1_DATABASE1_DBPASS=

DRIVER2_DATABASE2_DBHOST=
DRIVER2_DATABASE2_PORT=
DRIVER2_DATABASE2_DBNAME=
DRIVER2_DATABASE2_USER=
DRIVER2_DATABASE2_DBPASS=